/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Basic Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
}

nav .logo h1{
    font-size: 25px;
    color: #4B78C5;
}

nav .logo h1 span{
    color: red;
}

nav .nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav .nav-links ul li{
    list-style: none;
}

.nav-links ul li a{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 17px;
    margin-right: 20px;
    font-weight: 500;
    color: #9e2309;
}

.nav-links ul li a:hover{
    background-color:#006aff;
    color: white;
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.nav-end a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    color: #9e2309;
}

.nav-end a:hover{
    color: #006aff;
}

/* Hero Section */
.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/home/herobg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}

.hero-content{
    position: absolute;
    top: 205px;
    left: 125px;
}

.hero-content h1{
    font-size: 40px;
    color: #fff;
    text-shadow: 0 10px 10px black;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.hero-content p{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 0 5px 10px black;
    line-height: 26px;
    margin-bottom: 20px;
}

.btn1,
.btn2{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.btn1 a,
.btn2 a{
    text-decoration: none;
}

.btn1{
    padding: 12px 24px;
    font-size: 16px;
    background: linear-gradient(to bottom, blue 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    border: 2px solid blue;
    transition: background-position 0.4s;
}

.btn1 a{
    color: white;
}

.btn2{
    margin-left: 18px;
    padding: 12px 24px;
    font-size: 16px;
    background: linear-gradient(to bottom, transparent 50%, white 50%);
    background-size: 100% 200%;
    background-position: top;
    border: 2px solid #fff;
    transition: background-position 0.4s;
}

.btn2 a{
    color: #fff;
}

.btn1:hover{
    background-position: bottom;
    transition: 0.4s ease-in-out;
}

.btn1 a:hover{
    color: #fff;
}

.btn2:hover{
    background-position: bottom;
    transition: 0.4s ease-in-out;
}

.btn2 a:hover{
    color: rgb(0, 0, 255);
}

/* Company Aspects */
.aspects{
    padding: 50px 30px;
    background: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aspect-content{
    display: flex;
    gap: 20px;
    align-items: center;
}

.aspect-content i{
    font-size: 40px;
    color: blue;
}

.aspect-typo h1{
    margin-bottom: 7px;
}

/* Category */
.category-name{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.category{
    margin: 0px 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category a{
    text-decoration: none;
}

.category a .category-content1{
    position: relative;
    width: 250px;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../assets/home/volleyball.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: background-size 0.5s ease-in-out;
}

.category a .category-content1:hover{
    background-size: 120%;
}

.category-content1 h1{
    position: absolute;
    color: white;
    bottom: 30px;
    left: 65px;
}

.category a .category-content2{
    position: relative;
    width: 250px;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../assets/home/basketball.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: background-size 0.5s ease-in-out;
}

.category a .category-content2:hover{
    background-size: 120%;
}

.category-content2 h1{
    position: absolute;
    color: white;
    bottom: 30px;
    left: 65px;
}

.category a .category-content3{
    position: relative;
    width: 250px;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(../assets/home/football.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: background-size 0.5s ease-in-out;
}

.category a .category-content3:hover{
    background-size: 120%;
}

.category-content3 h1{
    position: absolute;
    color: white;
    bottom: 30px;
    left: 65px;
}

.category a .category-content4{
    position: relative;
    width: 250px;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url(../assets/home/tennis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: background-size 0.5s ease-in-out;
}

.category a .category-content4:hover{
    background-size: 120%;
}

.category-content4 h1{
    position: absolute;
    color: white;
    bottom: 30px;
    left: 65px;
}

/* Featured Products */
.feature-typos{
    width: 100%;
    margin: 30px 0 50px 0;
    text-align: center;
    text-transform: uppercase;
}

.featured-products{
    display: flex;
    margin: 50px 20px;
    justify-content: space-around;
}

.feature-main{
    display: flex;
    flex-direction: column;
}

/* Product 1 */
.feature-image1{
    width: 250px;
    height: 250px;
    background: url(../assets/home/product1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-size 0.4s ease-in-out;
}

.feature-image1:hover{
    background-size: 130%;
}

.feature-image1 a{
    text-decoration: none;
    color: blue;
    padding: 10px;
    background: #fff;
    border-bottom-right-radius: 10px;
}

.type{
    font-weight: 300;
    color: blue;
    margin-bottom: 10px;
}

.feature-typo h1{
    text-transform: capitalize;
    margin-bottom: 10px;
}

.feature-typo p{
    font-size: 18px;
}

/* Product 2 */
.feature-image2{
    width: 250px;
    height: 250px;
    background: url(../assets/home/product2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-size 0.4s ease-in-out;
}

.feature-image2:hover{
    background-size: 130%;
}

.feature-image2 a{
    text-decoration: none;
    color: blue;
    padding: 10px;
    background: #fff;
    border-bottom-right-radius: 10px;
}

.type{
    font-weight: 300;
    color: blue;
    margin-bottom: 10px;
}

.feature-typo h1{
    text-transform: capitalize;
    margin-bottom: 10px;
}

.feature-typo p{
    font-size: 18px;
}

/* Product 3 */
.feature-image3{
    width: 250px;
    height: 250px;
    background: url(../assets/home/product3.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-size 0.4s ease-in-out;
}

.feature-image3:hover{
    background-size: 180%;
}

.feature-image3 a{
    text-decoration: none;
    color: blue;
    padding: 10px;
    background: #fff;
    border-bottom-right-radius: 10px;
}

.type{
    font-weight: 300;
    color: blue;
    margin-bottom: 10px;
}

.feature-typo h1{
    text-transform: capitalize;
    margin-bottom: 10px;
}

.feature-typo p{
    font-size: 18px;
}

/* Product 4 */
.feature-image4{
    width: 250px;
    height: 250px;
    background: url(../assets/home/product4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-size 0.4s ease-in-out;
}

.feature-image4:hover{
    background-size: 130%;
}

.feature-image4 a{
    text-decoration: none;
    color: blue;
    padding: 10px;
    background: #fff;
    border-bottom-right-radius: 10px;
}

.type{
    font-weight: 300;
    color: blue;
    margin-bottom: 10px;
}

.feature-typo h1{
    text-transform: capitalize;
    margin-bottom: 10px;
}

.feature-typo p{
    font-size: 18px;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    background: #1a202c;
    color: #fff;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.foot1 h1{
    font-size: 22px;
    color: #fff;
    margin-bottom: 12px;
}

.foot1 h1 span{
    color: red;
}

.foot1 p{
    font-size: 15px;
    line-height: 20px;
}

.foot2 h1{
    font-size: 22px;
    margin-bottom: 12px;
}

.foot2 a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.foot2 a:hover{
    color: aqua;
}

.foot3 h1{
    font-size: 22px;
    margin-bottom: 12px;
}

.foot3 a{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.foot3 a:hover{
    color: aqua;
}

.foot4 h1{
    font-size: 22px;
    margin-bottom: 12px;
}

.foot4 p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}

.foot4 .input-group{
    width: 100%;
    display: flex;
}

.input-group input{
    padding: 10px 20px;
    width: 59%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    outline: none;
}

.input-group button{
    width: 39%;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    outline: none;
    background: blue;
    color: #fff;
    font-size: 15px;
}

.copyrights{
    width: 100%;
    padding-top: 50px;
    border-top: 2px solid #fff;
    text-align: center;
}